* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 20px;
}

.calcNumAnswer {
  padding: 0 20px;
}

.evenOdd {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.calculator {
  padding: 20px 15px;
}

.calculator__form {
  display: flex;
  flex-direction: column;
}

.calculator__label {
  display: inline-block;
  padding-bottom: 10px;
}

.calculator__label:last-child {
  padding-bottom: 0;
}

.calculator__label span {
  width: 100%;
  max-width: 200px;
  display: inline-block;
}

.calculator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  padding: 5px;
}

.shift-num__box {
  padding: 20px 15px;
}

.guess-number__box {
  padding: 20px 15px;
}

.guess-number__form {
  display: flex;
  flex-direction: column;
}

.guess-number__button {
  padding: 5px 7px;
}
