* {
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding: 20px 0;
}

.convert-wrapper {
  margin-bottom: 30px;
}

.button {
  min-width: 150px;
  min-height: 30px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1.5px solid black;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
  min-height: 30px;
}

.box__answer {
  width: 100%;
  min-height: 30px;
  margin-bottom: 10px;
  padding: 7px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.answer__span {
  min-width: 70px;
  border: 1px solid black;
}

.input {
  min-width: 150px;
  min-height: 30px;
}

.buy-wrapper {
  padding: 20px 0;
}