li {
  list-style: none;
}

.container {
  padding: 25px 15px;
  text-align: center;
}

.product__input {
  min-width: 250px;
  padding: 5px 10px;
}

.product__add {
  padding: 5px 10px;
}

.products__all {
  padding: 5px 10px;
}
